README.md
[{"id":"3488806d.8ebc8","type":"ibmiot","z":"","name":"PhotocontrollerV2"},{"id":"3f3cc42c.4eb0fc","type":"ibmiot in","z":"729a6040.e2acf8","authentication":"apiKey","apiKey":"3488806d.8ebc8","inputType":"devsts","deviceId":"","applicationId":"","deviceType":"PhotocontrollerV2","eventType":"+","commandType":"","format":"json","name":"PhC v2 Statu","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":true,"x":184,"y":653,"wires":[["514b2956.9a13a8","418f918b.22b088"]]},{"id":"514b2956.9a13a8","type":"function","z":"729a6040.e2acf8","name":"","func":"msg.statuz = msg.payload\nmsg.payload = msg.deviceId\nreturn msg;","outputs":1,"noerr":0,"x":342,"y":660,"wires":[["79be24e4.70a01c"]]},{"id":"79be24e4.70a01c","type":"cloudant in","z":"729a6040.e2acf8","name":"get rev","cloudant":"","database":"phcstatus","service":"iotinsight-cloudantNoSQLDB","search":"_id","design":"","index":"","x":483.5,"y":660.25,"wires":[["cea94b1a.8cba68"]]},{"id":"cea94b1a.8cba68","type":"function","z":"729a6040.e2acf8","name":"Payload","func":"//Prepare payload for Update\nmsg.headers = { \"Content-Type\": \"application/json\" }\nrev = msg.payload._rev\nmsg.rev=rev\n\n\nmsg.payload = {\n \"_rev\": msg.rev,\n \"payload\": msg.statuz\n}\nreturn msg;","outputs":1,"noerr":0,"x":634.5,"y":660.25,"wires":[["981b4ff.c72aeb"]]},{"id":"981b4ff.c72aeb","type":"http request","z":"729a6040.e2acf8","name":"Update Cloudant Doc","method":"PUT","ret":"obj","url":"","x":825.5,"y":659.25,"wires":[["cbc7fc93.4b926"]]},{"id":"cbc7fc93.4b926","type":"debug","z":"729a6040.e2acf8","name":"","active":true,"console":"false","complete":"false","x":768,"y":707.75,"wires":[]},{"id":"418f918b.22b088","type":"debug","z":"729a6040.e2acf8","name":"","active":true,"console":"false","complete":"false","x":329.5,"y":718.5,"wires":[]}]
