README.md
[{"id":"8a427584.a25b7","type":"ibmiot in","z":"c298b0e5.2602b8","authentication":"apiKey","apiKey":"ec17d0b7.70efb","inputType":"devsts","deviceId":"","applicationId":"","deviceType":"PhotocontrollerV2","eventType":"+","commandType":"","format":"json","name":"PhC v2 Statu","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":true,"qos":"0","x":80,"y":291,"wires":[["804d03cf.6c05a8","7aedd451.996e0c"]]},{"id":"804d03cf.6c05a8","type":"function","z":"c298b0e5.2602b8","name":"","func":"msg.statuz = msg.payload\nmsg.payload = msg.deviceId\nreturn msg;","outputs":1,"noerr":0,"x":238,"y":298,"wires":[["238feea8.ebdae2"]]},{"id":"238feea8.ebdae2","type":"cloudant in","z":"c298b0e5.2602b8","name":"get  _rev","cloudant":"","database":"phcstatus","service":"iotinsight-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":379.5,"y":298.25,"wires":[["b810f7c2.6fc658"]]},{"id":"b810f7c2.6fc658","type":"function","z":"c298b0e5.2602b8","name":"Payload","func":"//Prepare payload for Update\nmsg.headers = { \"Content-Type\": \"application/json\" }\nrev = msg.payload._rev\nmsg.rev=rev\n\n\nmsg.payload = {\n  \"_rev\": msg.rev,\n  \"payload\": msg.statuz\n}\nreturn msg;","outputs":1,"noerr":0,"x":530.5,"y":298.25,"wires":[["72ac8444.9c59f4"]]},{"id":"72ac8444.9c59f4","type":"http request","z":"c298b0e5.2602b8","name":"Update Cloudant Doc","method":"PUT","ret":"obj","url":"https://85f880af-c7e4-4ede-9c2e-2b5fa0a3341b-bluemix:654c5537a45462c9a904ba25cc531e8e12241cf2adff36250cd234ecc26ddfa5@85f880af-c7e4-4ede-9c2e-2b5fa0a3341b-bluemix.cloudant.com/phcstatus/{{{deviceId}}}","tls":"","x":721.5,"y":297.25,"wires":[["9b7d1bc6.9a99b"]]},{"id":"9b7d1bc6.9a99b","type":"debug","z":"c298b0e5.2602b8","name":"","active":true,"console":"false","complete":"false","x":664,"y":345.75,"wires":[]},{"id":"7aedd451.996e0c","type":"debug","z":"c298b0e5.2602b8","name":"","active":true,"console":"false","complete":"false","x":225.5,"y":356.5,"wires":[]},{"id":"ec17d0b7.70efb","type":"ibmiot","z":"","name":"PhotocontrollerV2","keepalive":"60","cleansession":true}]
